%div
  = form_for :session, url: session_path do |form|
    %div.mb-5
      %div.mb-3
        = form.label :email
      = form.email_field :email, class: 'rounded text-pink-500'

    %div.mb-5
      .mb-3
        .mb-2= form.label :password

      = form.password_field :password, class: 'rounded text-pink-500'

    %button.bg-blue-500.hover:bg-blue-700.text-white.font-bold.py-2.px-4.rounded.mb-7
      Submit


    .other-links
      - if Clearance.configuration.allow_sign_up?
        = link_to t(".sign_up"), sign_up_path

      = link_to t(".forgot_password"), new_password_path
