%p#notice= notice

%p
  %b Name:
  = @education.name
%p
  %b Title:
  = @education.title
%p
  %b Start date:
  = @education.start_date
%p
  %b End date:
  = @education.end_date

= link_to 'Edit', edit_education_path(@education)
\|
= link_to 'Back', educations_path
