!!!
%html
  %head
    %title About
    %meta(name="viewport" content="width=device-width,initial-scale=1")
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags


  %body.container
    .row
      .col-lg-3.admin-nav
        %ul.nav.flex-column
          %li.nav-item
            = link_to root_path, class: 'nav-link' do
              %i.bi.bi-house
              Home
          - unless Setting.first.nil?
            %li.nav-item
              = link_to edit_admin_setting_path(Setting.first), class: 'nav-link' do
                %i.bi.bi-gear
                Settings
          %li.nav-item
            = link_to admin_projects_path, class: 'nav-link' do
              %i.bi.bi-code-square
              Projects
          %li.nav-item
            = link_to admin_experiences_path, class: 'nav-link' do
              %i.bi.bi-person-workspace
              Experiences
          %li.nav-item
            = link_to admin_educations_path, class: 'nav-link' do
              %i.bi.bi-person-workspace
              Education

      .col-lg-9
        = yield

  = render 'shared/footer'
