%footer
  %div.flex.justify-center.text-xs.text-indigo-300

    %span.p-1= link_to "Home", root_path
    - unless action_name == 'about'
      %span.p-1= link_to "About", about_path

    - if signed_in?
      - if Setting.first
        %span.p-1= link_to "Admin", admin_experiences_path, class: 'nav-link'
      - else
        %span.p-1= link_to "Settings", new_admin_setting_path, class: 'nav-link'

      %span.p-1= link_to "Sign out", sign_out_path, method: :delete, data: { "turbo-method": :delete }, class: 'nav-link'
    - else
      %span.p-1= link_to "Sign in", sign_in_path, class: 'nav-link'



