%footer.container

  %ul.nav.justify-content-center
    - if signed_in?
      %li.nav-item
        - if Setting.first
          = link_to "Admin", admin_experiences_path, class: 'nav-link'
        - else
          = link_to "Settings", new_admin_setting_path, class: 'nav-link'

      %li.nav-item= link_to "Sign out", sign_out_path, method: :delete, data: { "turbo-method": :delete }, class: 'nav-link'
    - else
      %li.nav-item= link_to "Sign in", sign_in_path, class: 'nav-link'

  Source:
  = link_to "github.com/carsoncole/about", "https://github.com/carsoncole/about.git", target: '_blank'
  .copyright
    Copyright
    %i.bi.bi-c-circle
    = Date.today.year
    Carson R Cole

