%footer
  %div.flex.justify-center.text-xs

    - if action_name == 'about'
      %span.p-1= link_to "home", root_path
    - else
      %span.p-1= link_to "about", about_path

    - if signed_in?
      - if Setting.first
        %span.p-1= link_to "Admin", admin_experiences_path, class: 'nav-link'
      - else
        %span.p-1= link_to "Settings", new_admin_setting_path, class: 'nav-link'

      %span.pd-1= link_to "Sign out", sign_out_path, method: :delete, data: { "turbo-method": :delete }, class: 'nav-link'
    - else
      %span.p-1= link_to "Sign in", sign_in_path, class: 'nav-link'



