%article.experience
  .title= experience.title
  .name
    - if experience.url.present?
      = link_to experience.name, experience.url
    - else
      = experience.name
  .dates
    = date_range(experience.start_date, experience.end_date)

  .description=experience.description

  - if SKILLS_DISPLAYED
    .skills
      - experience.skill_list.each do |skill|
        .skill= skill
