%h1.text-slate-800.dark:text-slate-100.font-bold.tracking-tight.mb-10.text-4xl.md:text-5xl(class='md:w-4/5')
  %div.leading-tight.md:leading-tight= Setting.first.about_headline

- if Setting.first.about_subheading.present?
  %h2.text-xl.mb-20.max-w-prose.text-slate-500
    = Setting.first.about_subheading

- else
  %div.mb-10 &nbsp;

%div.grid.grid-cols-3.gap-6
  %div.col-span-3.md:col-start-1.md:col-span-2


  %div
    - if Setting&.first&.linkedin_url.present?
      %div.inline-block.font-medium
        = link_to Setting&.first&.linkedin_url, target: '_blank' do
          = render 'shared/linkedin_svg'
    - if Setting&.first&.github_url.present?
      %div.inline-block
        = link_to Setting&.first&.github_url, target: '_blank' do
          = render 'shared/github_svg'

    .mt-4.flex.flex-row.font-medium
      - if Setting&.first&.email.present?
        = link_to Setting&.first&.email do
          %div.mr-3
            = render 'shared/email_svg'
        = link_to "mailto: #{Setting&.first&.email}", class: 'text-slate-900' do
          %div
            = Setting&.first&.email

    .mt-4.flex.flex-row.font-medium
      - if Setting&.first&.phone.present?
        %div.mr-3.fill-slate-500
          = render 'shared/phone_svg'
        %div
          = Setting&.first&.phone
