%div
  %div.mb-20
    %div.mb-12(class= 'lg:w-2/3')
      %h1.text-6xl.font-bold.mb-2= Setting&.first&.name || 'Name'

      %h2.description.text-3xl= Setting&.first&.description || 'Description'

    %div
      %section.contact.mb-7
        = Setting&.first&.email || 'email'
        - if Setting&.first&.phone.present?
          \|
          = Setting&.first&.phone || 'phone'
        - if Setting&.first&.address.present?
          \|
          = Setting&.first&.address
        %br
        - if Setting&.first&.linkedin_url.present?
          = link_to Setting&.first&.linkedin_url, Setting&.first&.linkedin_url
        - if Setting&.first&.portfolio_url.present?
          \|
          = link_to Setting&.first&.portfolio_url, Setting&.first&.portfolio_url

  %div
    - if Setting&.first&.summary.present?
      %div.mb-12(class= 'lg:w-2/3')
        %h2.text-indigo-400.font-bold.mb-2.font-2xl.uppercase.border-b.border-indigo-900.mb-4.pb-2 Summary
        %p.mb-7= Setting.first.summary

    - if PROJECTS_DISPLAYED
      %div.mb-12(class= 'lg:w-2/3')
        %h2.text-indigo-400.font-bold.mb-2.font-2xl.uppercase.border-b.border-indigo-900.mb-4.pb-2 Projects
        = render partial: 'projects/project', collection: @projects

    - if SKILLSETS_DISPLAYED
      %div.mb-12(class= 'lg:w-2/3')
        %h2.text-indigo-400.font-bold.mb-2.font-2xl.uppercase.border-b.border-indigo-900.mb-4.pb-2 Skills
        %div.text-sm
          - @tags.each do |tag|
            .skill.border.float-left.m-1.bg-white.p-3.rounded.shadow-lg.text-black.py-1.px-4.font-bold= tag.name
        %div.clear-both

    - if EXPERIENCES_DISPLAYED

      %div.mb-12(class= 'lg:w-2/3')
        %h2.text-indigo-400.font-bold.mb-2.font-2xl.uppercase.mb-4.pb-2 Experience
        = render partial: 'experiences/experience', collection: @experiences

      %div.mb-12(class= 'lg:w-2/3')
        %h2.text-indigo-400.font-bold.mb-2.font-2xl.uppercase.border-b.border-indigo-900.mb-4.pb-2 Education
        = render partial: 'education', collection: @educations



  / .row
  /   .col-md-12
  /     .resume-link
  /       = link_to "Download Resume", resume_path(format: :pdf), target: '_blank'
  /       %i.far.fa-arrow-alt-circle-down
