#home.container
  .row
    .col-lg-12
      %h1.name= Setting&.first&.name || 'Name'

  .row
    .col-lg-12
      %h2.description= Setting&.first&.description || 'Description'

  .row
    .col-lg-12
      %section.contact
        = Setting&.first&.email || 'email'
        \|
        = Setting&.first&.phone || 'phone'
        \|
        = Setting&.first&.address || 'address'

  .row
    .col-lg-12
      %section.experiences
        = render partial: 'experience', collection: @experiences

  .row
    .col-lg-12
      %section.projects
        = render 'project', collection: @projects
