#home.container
  .row
    .col-lg-12
      %h1.name= Setting&.first&.name || 'Name'

  .row
    .col-lg-12
      %h2.description= Setting&.first&.description || 'Description'

  .row
    .col-lg-12
      %section.contact
        = Setting&.first&.email || 'email'
        \|
        = Setting&.first&.phone || 'phone'
        \|
        = Setting&.first&.address || 'address'

  - if PROJECTS_DISPLAYED
    .row
      %section.projects
        %h2 Open-Source Projects
        .carousel
          = render partial: 'projects/project', collection: @projects

  - if EXPERIENCES_DISPLAYED
    .row
      .col-lg-12
        %section.experiences
          %h2 Experience
          = render partial: 'experience', collection: @experiences

