= form_for @project do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :source_url
    = f.text_field :source_url
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :image_url
    = f.text_field :image_url
  .field
    = f.label :working_url
    = f.text_field :working_url
  .field
    = f.label :order
    = f.number_field :order
  .actions
    = f.submit 'Save'
