.project
  %p
    %b Name:
    = @project.name
  %p
    %b Source url:
    = @project.source_url
  %p
    %b Description:
    = @project.description
  %p
    %b Image url:
    = @project.image_url
  %p
    %b Working url:
    = @project.working_url
