%h1 Projects

%table.table.projects


  %tbody
    - @projects.each do |project|
      %tr
        %td= project.name
        %td= project.source_url
        %td.actions
          = link_to 'Show', admin_project_path(project)
          = link_to 'Edit', edit_admin_project_path(project)
          = link_to 'Destroy', admin_project_path(project), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Project', new_admin_project_path
