%div.mb-8.border-t.pt-4
  %h2.mb-2.text-xl.font-bold.dark:text-white
    = link_to project.source_url, target: '_blank' do
      .text-slate-900.dark:text-white= project.name

  - if project.image_url.present?
    .project-image
      = image_tag project.image_url, class: 'img-fluid'

  %p.font-normal.text-sm.mb-3.text-gray-700.dark:text-gray-400= project.description

  %div.flex.flex-wrap.gap-x-2.mb-2
    - project.skill_counts.order(taggings_count: :desc).each do |skill|
      %div.text-xs.border.border-slate-200.py-1.px-2.text-slate-500
        = skill

  %p
    = link_to project.source_url, target: '_blank', class: 'text-slate-500 text-sm' do
      .inline-block
        = render 'shared/link_svg'
      .inline-block.align-top github.com


  - if project.working_url.present?
    %p= link_to project.working_url, project.working_url, target: '_blank'



