%div.float-left.w-64.bg-white.p-6.mx-3.mb-3.bg-white.border.border-gray-200.shadow.hover:bg-gray-100.dark:bg-gray-800.dark:border-gray-700.dark:hover:bg-gray-700
  %h2.mb-4.text-xl.font-bold.dark:text-white
    = link_to project.source_url, target: '_blank' do
      .dark:text-white= project.name

  - if project.image_url.present?
    .project-image
      = image_tag project.image_url, class: 'img-fluid'

  %p.font-normal.text-sm.mb-4.text-gray-700.dark:text-gray-400= project.description

  %p
    = link_to project.source_url, target: '_blank', class: 'text-slate-500 text-sm' do
      .inline-block
        = render 'shared/link_svg'
      .inline-block.align-top github.com


  - if project.working_url.present?
    %p= link_to project.working_url, project.working_url, target: '_blank'



