%article.mb-7.rounded.shadow-inner.p-5.bg-indigo-100.text-black
  = render partial: 'experiences/title', locals: { experience: experience }

  %div.mb-3
    - if experience.location.present?
      = succeed(", ") do
        = experience.location
    = date_range(experience.start_date, experience.end_date)

  %div.mb-3
    =experience.description

  - if EXPERIENCE_SKILLS_DISPLAYED
    %div
      - experience.skill_list.each do |skill|
        %span.pr-1.text-indigo-300.text-sm
          = skill



