%article.mb-7.border.border-slate-200.shadow.p-5.text-black.dark:text-white
  = render partial: 'experiences/title', locals: { experience: experience }

  %h1.mb-3
    - if experience.location.present?
      = succeed(", ") do
        = experience.location
    = date_range(experience.start_date, experience.end_date)

  %p.mb-3
    =experience.description

  - if EXPERIENCE_SKILLS_DISPLAYED
    %div
      - experience.skill_list.each do |skill|

        %div.float-left.text-xs.border.border-slate-200.py-1.px-2.mr-2.mb-2.text-slate-500
          = skill

      %div.clear-both



