%h1 Experiences

%table


  %tbody
    - @experiences.each do |experience|
      %tr
        %td= experience.title
        %td= experience.name
        %td= experience.url
        %td= experience.start_date
        %td= experience.end_date
        %td= experience.description
        %td= experience.order
        %td= link_to 'Show', admin_experience_path(experience)
        %td= link_to 'Edit', edit_admin_experience_path(experience)
        %td= link_to 'Destroy', admin_experience_path(experience), method: :delete, data: { 'turbo-method': :delete, confirm: 'Are you sure?' }

%br

= link_to 'New Experience', new_admin_experience_path
