.row
  .col-lg-12
    %h1 Experiences

.row
  .col-lg-12
    %table.table.experiences
      %tbody
        - @experiences.each do |experience|
          %tr
            %td= experience.title
            %td= experience.name
            %td= date_range(experience.start_date, experience.end_date)
            %td.actions
              = link_to admin_experience_path(experience, params: { index: true, experience: { order: experience.order - 1}}), method: :patch, data: { 'turbo-method': :patch } do
                %i.bi.bi-arrow-up
              = link_to admin_experience_path(experience, params: { index: true, experience: { order: experience.order + 1}}), method: :patch, data: { 'turbo-method': :patch } do
                %i.bi.bi-arrow-down
              = link_to 'Show', admin_experience_path(experience)
              = link_to 'Edit', edit_admin_experience_path(experience)
              = link_to 'Destroy', admin_experience_path(experience), method: :delete, data: { 'turbo-method': :delete, confirm: 'Are you sure?' }

%br

= link_to 'New Experience', new_admin_experience_path
